{{- define "main" }}

<article class="single-post-single">
  {{ if .Params.srcimg }}
  <div class="image-container">
    <img src="{{ .Site.BaseURL }}/uploads/grandes/{{ .Params.srcimg }}" alt="Cover of {{ .Title }}" class="imagemusique-single"/>
  </div>
  {{ end }}
  
  <header class="single-post-header" >
    {{ if .Params.spotifyTrackID }}
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ .Params.spotifyTrackID }}?utm_source=generator"  frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    {{ end }}
    {{ partial "breadcrumbs.html" . }}
    <h1 class="single-post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    <h2>{{ .Params.artiste }}</h2>
    

   
    <div class="single-post-description">
      {{- if .Params.duree }} 
        <p>Durée: {{ .Params.duree }}</p>
      {{- end }} 
  
    
      {{- if .Description }}
      {{ .Description }}
      {{- end }}
    </div>
   
    {{- if not (.Param "hideMeta") }}
   
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="single-post-content"  >
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="single-post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="single-post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var container = document.querySelector('.single-post-single .image-container');
    if (container) {
        container.addEventListener('click', function() {
            this.classList.toggle('show-iframe');
        });
    }
});

</script>
{{- end }}{{/* end main */}}
