.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    margin: auto;
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
 
}
#boutonpagecours{
    color: var(--theme);
    background-color: var(--primary);
    width: 30%;
    text-align:center;
    padding:4px;
    font-style:bold;
    border-radius:15px;
}
.contenu{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}
.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
@media (max-width:800px){
    .contenu{
        flex-direction:column;
        
    }
    #boutonpagecours{
        width:80%;
    }

}